{% extends "sidenav.html" %}
{% load static %}
{% load my_filters %}

{% block content %}
    <div class="auctionFront">
        <div class='time'>
                <h2 class='auctionTitle'>{{auction.name}}</h2>
                <a href="{% url "end_auction" auction.pk %}"><button>End Auction</button></a>
            {% if over %}
                <h2 class='auctionHeader closed'>Closed</h2>
            {% elif left %}
                <h2 class='auctionHeader remaining' id='remaining'>{{left}}</h2>
            {% elif  notStarted %}
                <h2 class='auctionHeader notStarted'>Starting Soon</h2>
            {% endif %}
        </div>

        <div class="auctionFront-items">
            {% if items|length == 0 %}
                <div class='noItemDiv'>No Items</div>
            {% else %}
                {% for item in items %}
                    <div class='item'>
                        <a class='itemA' href="{% url 'displayProduct' auction.pk item.pk %}">
                            <img src="{{item.images.all | firstImg}}" alt="">
                            <h3>{{item.name}}</h3>
                            <p>Current Bid: <b>{{item.current_bid | moneyify}}</b></p>
                        </a>
                    
                        <div class='likeOrX'>
                            {% if user.groups.all|length == 0 %}
                                {% if item in bidder.liked_items.all %}
                                <i class="fa-solid fa-heart"></i>
                                {% else %}
                                <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            {% else %}
                                {% for group in user.groups.all %}
                                    {% if 'Admin' == group.name %}
                                        <a href="{% url "deleteProduct" auction.pk item.pk %}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% comment %} <div class="addItem">
            <a href="{% url "createProduct" %}">
                <button class='newItemBtn'>+ Add a New Item</button>
            </a>
        </div> {% endcomment %}
    </div>
{% endblock content %}