{% load static %}
{% load my_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "auction/css/styles.css" %}">
</head>
<body>
    <div class="auctionFront">
        <div class='login'>
            {% if user.is_authenticated %}
                <a href="{% url "logout" %}">
                    <button>LogOut</button>
                </a>
            {% else %}
                <a href="{% url "login" %}">
                    <button>LogIn</button>
                </a>
            {% endif %}
        </div>
        <div class="auctionFront-items">
            {% for item in items %}
            <a class='item' href="{% url 'displayProduct' item.pk %}">
                <h3>{{item.name}}</h3>

                <img src="{{item.images.all | firstImg}}" alt="">
                <p>Current Bid: {{item.current_bid | moneyify}}</p>
            </a>
            {% endfor %}
        </div>
        <div class="addItem">
            <a href="{% url "createProduct" %}">
                <button class='newItemBtn'>+ Add a New Item</button>
            </a>
        </div>
    </div>
</body>
</html>