{% extends "sidenav.html" %}
{% load my_filters %}

{% block content %}
    <div class='auctionConfig'>
        <div class="dashboardHeader">
            <h1 class='dashboardHeaderDash'>Dashboard</h1>
            <p class='dashboardHeaderAuction'>{{auction.name}}</p>
        </div>
        <div class='dashboardStats'>
            <div class='auctionTime'>
                {% comment %} <p>Start: {{start}}</p>
                <p>End: {{end}}</p> {% endcomment %}
                {% comment %} <p>Active: No</p> {% endcomment %}
                <p>{{start}} - {{end}}</p>
            </div>
            <div class='itemStats statPlate'>
                <div class="statSlot">
                    <p class='slotHead'>Items with Bids</p>
                    <p class="slotBody">{{bidOnItems}}</p>
                </div>
                <div class="statSlot">
                    <p class='slotHead'>Total Items</p>
                    <p class="slotBody">{{items|length}}</p>
                </div>
                <div class="statSlot">
                    <p class='slotHead'>Total Bids</p>
                    <p class="slotBody">{{ bids }}</p>
                </div>
            </div>
            <div class="revenueStats statPlate">
                <div class="statSlot">
                    <p class='slotHead'>Total Value</p>
                    <p class="slotBody">{{total|moneyify}}</p>
                </div>
                <div class="statSlot">
                    <p class='slotHead'>Stripe Fees</p>
                    <p class="slotBody">${{fees}}</p>
                </div>
                <div class="statSlot">
                    <p class='slotHead'>Profit</p>
                    <p class="slotBody">${{profit}}</p>
                </div>
            </div>
        </div>
        <div class="dashboardItems">
            <div class="dashItemHead">
                <span class='itemNameSpan headSpan'>Item Name | </span>
                <span class='highestBidderSpan headSpan'>Highest Bidder | </span>
                <span class='currentBidSpan headSpan'>Current Bid | </span>
                <span class='runnerUpSpan headSpan'>Runner Up</span>
            </div>
            {% for item in items %}
                <div class="dashItem">
                    <span class='itemNameSpan'>{{item.name}} | </span>
                    <span class='highestBidderSpan'>{{item.highest_bidder.user.first_name}} {{item.highest_bidder.user.last_name}} | </span>
                    <span class='currentBidSpan'>{{item.current_bid}} | </span>
                    <span class='runnerUpSpan'>{{item.runner_up.user.first_name}} {{item.runner_up.user.last_name}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}