{% extends "sidenav.html" %}
{% block content %}
    <div class='auctionConfig auctionSettings'>
        <div class="auctionSettingsHeader">
            <h1>Settings</h1>
        </div>
        <div class='updateAuctionForm'>
            <form method="POST" class='updateAuctionInnerForm'>
                {% csrf_token %}
                <div class="updateInputWrap">
                    <p class='inputLabel auctionNameLabel'>Name</p>
                    <input required type="text" name='name' id='updateName' value={{auction.name}}>
                </div>

                {% comment %} Hidden Inputs {% endcomment %}
                <input type="text" name='start_date' id='updateStartDatetime' value={{startDateTime}}>
                <input type="text" name='end_date' id='updateEndDatetime' value={{endDateTime}}>

                {% comment %} More User Friendly DateTime Inputs {% endcomment %}
                <div class="updateInputWrap">
                    <p class='inputLabel startDateLabel'>Start Date</p>
                    <input required type="date" id='updateStartDate' value={{startDate}}>
                    <input required type="time" id='updateStartTime' value={{startTime}}>
                </div>

                <div class="updateInputWrap">
                    <p class='inputLabel endDateLabel'>End Date</p>
                    <input required type="date" id='updateEndDate' value={{endDate}}>
                    <input required type="time" id='updateEndTime' value={{endTime}}>
                </div>

                <input type="hidden" name='active' value={{auction.active}}>
                <input type="submit" name='submitUpdate' value='Submit' id='updateSubmit'>
            </form>
        </div>
        <div class="auctionSettingsButtons">
            <form action={% url "deleteAuction" auction.pk %}>
                <button class='updateAuctionBtn deleteAuctionBtn' type="submit">DELETE</button>
            </form>
            {% if auction.active %}
            <form method='POST'>
                <button class='updateAuctionBtn' type='submit' name='deactivate'>SET INACTIVE</button>
            </form>
            {% else %}
            <form method='POST'>
                <button class='updateAuctionBtn' type='submit' name='activate'>SET ACTIVE</button>
            </form>
            {% endif %}
            {% if startable %}
            <form method='POST'>
                <button class='updateAuctionBtn' type='submit' name='startAuction'>START AUCTION</button>
            </form>
            {% else %}
            <div class="dummyBtn">
                <button class='updateAuctionBtn unavailable'>START AUCTION</button>
            </div>
            {% endif %}
            {% if endable %}
            <form method="POST">
                <button class='updateAuctionBtn' type='submit' name='endAuction'>END AUCTION</button>
            </form>
            {% else %}
            <div class="dummyBtn">
                <button class='updateAuctionBtn unavailable'>END AUCTION</button>
            </div>
            {% endif %}
        </div>
    </div>

    <script>

        let updateStartDate = document.getElementById('updateStartDate');
        let updateStartTime = document.getElementById('updateStartTime');
        let updateEndDate = document.getElementById('updateEndDate');
        let updateEndTime = document.getElementById('updateEndTime');
        let updateRealStartDate = document.getElementById('updateStartDatetime');
        let updateRealEndDate = document.getElementById('updateEndDatetime');
        let updateSubmit = document.getElementById('updateSubmit');
    
        function updateDates() {
            updateRealStartDate.value = `${updateStartDate.value}T${updateStartTime.value}:00Z`
            updateRealEndDate.value = `${updateEndDate.value}T${updateEndTime.value}:00Z`
        }

        addEventListener('change', updateDates)

        submit.onclick = updateDates
    </script>
{% endblock content %}