{% load my_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "auction/css/styles.css" %}">
    <script src="{% static "auction/js/scripts.js" %}" defer="defer"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    {% comment %} VVV DO NOT CHANGE BELOW VVV {% endcomment %}
    <div class='image-container'>
        {% for img in images %}
        <div class="slideshow_image">
            <img src="{{img.file.url}}" alt="Auction Item Image">
            <p class='pageNum'>{{img | indexify:images}}</p>
        </div>
        {% endfor %}
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div>
    <div class='slide_dots'>
        {% for img in images %}
        <span class='dot' onclick="currentSlide({{img | getIndex:images}})"></span>
        {% endfor %}
    </div>
    {% comment %} ^^^ DO NOT CHANGE ABOVE ^^^ {% endcomment %}
    <h3>{{item.name}}</h3>
    <p>{{item.description}}</p>
    <p>Current Bid: {{item.current_bid | moneyify}}</p>

    <form id="bid-form" method="POST">
        {% csrf_token %}
        {% comment %} <span>$</span> {% endcomment %}
        {% comment %} <input id='bidPriceInput' type="text" name="amount" min={{lab}} max="99999999" value={{lab}} step='0.01'> {% endcomment %}
        <input type="hidden" name='amount' value={{lab}}>
        <input type="hidden" name='item' value={{item.pk}}>
        <input type="hidden" name='bidder' value={{user.bidder_info.pk}}> {% comment "replace with user.bidder_info.pk" %}{% endcomment %}
        <select id="saved-cards">
            {% for card in saved_cards %}
                <option value="{{ card.id }}">
                    {{ card.card.brand }} ending in {{ card.card.last4 }} (Exp: {{ card.card.exp_month }}/{{ card.card.exp_year }})
                </option>
            {% endfor %}
        </select>
        <input type="hidden" id="selected-payment-method" name="selected_payment_method">
        <input type="hidden" name="setup_intent" value={{setup_intent.id}}>
        <input type="submit" name='btnSubmit' value="Place Bid for {{lab | moneyify}}" id="bid-button">
    </form>
    <p>Bid History v</p>
    {% if item.bid_set.all|length == 0 %}
        <p>There are currently no bids. Place one now!</p>
    {% endif %}
    {% for bid in item.bid_set.all %}
        <p>{{bid.bidder.bidder_id}} | {{bid.amount|moneyify}}</p>
    {% endfor %}

    <script>
        const stripe = Stripe('{{STRIPE_TEST_PUBLIC_KEY}}');

        document.getElementById('saved-cards').addEventListener('change', function() {
            const selectedPaymentMethod = document.getElementById('saved-cards').value;
            document.getElementById('selected-payment-method').value = selectedPaymentMethod;
        });

        
        document.getElementById('bid-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const selectedPaymentMethod = document.getElementById('saved-cards').value;
            const clientSecret = '{{setup_intent.client_secret}}';
            const {error} = await stripe.confirmCardSetup(clientSecret,
            {
                payment_method: selectedPaymentMethod
            });
            console.log(clientSecret)
            if (error) {
                console.error("Bid Failed:", error);
            } else {
                console.log('Bid Successful!');
                console.log("Payment Method ID:", selectedPaymentMethod)

                document.getElementById('selected-payment-method').value = selectedPaymentMethod
                const form = document.getElementById('bid-form');

                if (form) {
                    console.log('Form submitted')
                    form.submit();
                } else {
                    console.error("Form not found");
                }
            }
        });
    </script>
</body>
</html>