{% extends "sidenav.html" %}
{% block content %}
    <div class="form-container">
        <p>{{ card.card.brand }} ending in {{ card.card.last4 }} (Exp: {{ card.card.exp_month }}/{{ card.card.exp_year }})</p>
        <form id="edit-card-form" method="POST">
            {% csrf_token %}
            <select name="exp_month" id="exp-month">
                {% for month in month_list %}
                    <option value={{month}}>
                        {{month}}
                    </option>
                {% endfor %}
            </select>
            <select name="exp_year" id="exp-year">
                {% for year in year_list %}
                    <option value={{year}}>
                        {{year}}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" name="submit" value="Save">
        </form>
    </div>
{% endblock content %}
