{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junior Auxiliary</title>
    <link rel="stylesheet" href="{% static "auction/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "auction/css/header.css" %}">
    <script src="{% static "auction/js/scripts.js" %}"></script>
</head>
<div class="container">
    <div class="left-side">
        <img src="{% static 'auction/NAJA Crown_Blue_Crop.png' %}" alt="Logo" class="left-image">
        <p class="header_text">Yalobusha County Junior Auxiliary</p>
    </div>
    <button class="right-button">Donate</button>
</div>

<body>
    
    <nav class="myNav">
        <a href="{% url 'home' %}">Home</a>
        {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}
        {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
        <a href="{% url 'scholarship' %}">Scholarship</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'projects' %}">Projects</a>
        <a href="{% url 'contact' %}">Contact</a>
    </nav>
    {% block content %}
    
    {% endblock content %}
    </div>
</body>

<footer class="footer">
    <p>© Junior Auxillary of Yalobusha County</p>
</footer>
    
</html>