
    {% extends "sidenav.html" %}
    {% block content %}
        <div class="account-settings">
            <h1>Payment Methods</h1>
            <a href="{% url "add_payment_method" %}">Add new</a>
            {% for card in saved_cards %}
            <p>{{ card.card.brand }} ending in {{ card.card.last4 }} (Exp: {{ card.card.exp_month }}/{{ card.card.exp_year }})</p> 
            <a href="{% url "edit_payment_method" card.id %}"><button>Edit</button></a>
            <a href="{% url "delete_payment_method" card.id %}"><button>Delete</button></a>
            {% endfor %}
        </div>
    {% endblock content %}