{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}

{% block content %}
<h1 id='aboutHeader' class="name_headers">About Us</h1>
<div class="about_container">
    <img src="{% static 'app/photos/aboutimg.jpg' %}" alt="members" class="about_image">
    <div class="aboutFilter"></div>
    <div class="about_text">
        <p>The Junior Auxiliary was founded on the principles 
        of helping children and making a difference in their lives. 
        It provides women the opportunity to serve and be a vital part of 
        their communities. The objectives of the National Association are 
        to unite in one body all Junior Auxiliary Chapters and members to promote the work and mission of Junior Auxiliary.</p>
    </div>
</div>

{% endblock content %}