{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junior Auxiliary</title>
    <link rel="stylesheet" href="{% static "app/css/styles.css" %}">
    <script src="{% static "app/js/scripts.js" %}"></script>
</head>
<div class="headerContainer">
    <div class="left-side">
        <img src="{% static 'app/photos/NAJALOGOcrop.svg' %}" alt="Logo" class="left-image">
        <p class="header_text">Junior Auxiliary of Water Valley</p>
    </div>
    {% comment %} <img src="{% static 'app/photos/children.png' %}" alt="Logo" class="kids_pic"> {% endcomment %}

    <div class="rightSide">
        <nav class="myNav">
            <a href="{% url 'home' %}">Home</a>
            <a href="#aboutHeader">About</a>
        <a href="#scholarshipHeader">Scholarship</a>
            <a href="#projectHeader">Projects</a>
        <a href="#contactHeader">Contact</a>
            <a href="{% url 'auction' %}">Auction</a>
            {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}
            {% comment %} <a href="{% url "auction" %}">Auction</a> {% endcomment %}
        </nav>
        
        <a target="_blank" href="https://www.paypal.com/ncp/payment/FARHUZLY87Z6A">
            <button class="right-button">Donate</button>
        </a>
    </div>
</div>

<body>


{% block content %}

{% endblock content %}
<div class="events_box">
    <h2>Upcoming Events</h2>
    <button class="eventButton">Add Event</button>
    <div id="events_list">
        <p>Event 1: Placeholder</p>
        <p>Event 2: Placeholder</p>
        <p>Event 3: Placeholder</p>
    </div>
    
</div>

<footer class="footer">
    © Junior Auxillary of Water Valley 2024</p>
</footer>
    
</html>