{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="img_container">
    <!--Area of the images-->
       <div class="wrapper">
<img src="{% static '/photos/members.jpg' %}" alt="members" class="home_images">
<img src="{% static '/photos/members2.jpg' %}" alt="members" class="home_images">
<img src="{% static '/photos/members3.jpg' %}" alt="members" class="home_images">
<img src="{% static '/photos/members4.jpg' %}" alt="members" class="home_images">
</div>
</div>
   <p class="home_text"> The Junior Auxiliary of Water Valley chapter, established locally more than 70 years ago, 
    was founded on the principle of making a difference in the lives of children and has been 
    comprised of women in Yalobusha County with strong character and leadership who are dedicated to serving their community.</p>

    


{% endblock content%}