{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'auction/css/styles.css' %}">
</head>
    <body>
        <div class = 'form-container'>
            <div class ='app-name'>
                <h1>Auction</h1>
            </div>
        <div class ='login-template'>
            <form method='POST'>
                {% csrf_token %}
                <div><input type="text" name="username" placeholder="Username..."></div>
                <div><input type="password" name="password" placeholder="Password..."></div>
                <div><input type='submit' value='Login'></div>
            </form>
            <div>Don't have an account? <a href="{% url 'registration' %}">Sign Up</a></div>
        </div>
    </div>
    </body>
</html>