{%extends 'base.html'%}
{% load static %}
{%block content%}
<section class="login-section">
    {% comment %} <h1 class="name_headers">Login</h1> {% endcomment %}
        <div class="login_container">
            <div>
                <div class='login-template'>
                    <h2>LOGIN</h2>
                    <form method='POST'>
                        {% csrf_token %}
                        <div class="login_txt">
                            <input type="text" name="email" placeholder="EMAIL...">
                        </div>
                        <div class="login_txt">
                            <input type="password" name="password" placeholder="PASSWORD...">
                        </div>
                        <div>
                            <input type='submit' value='LOGIN'>
                        </div>
                    </form>
                    <div class="login_txt">
                        Don't have an account? <a href="{% url 'registration' %}">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock content%}