{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="name_headers">Projects</h1>
<p>Our projects are designed to help children in need. 
    We have a variety of projects that you can get involved in. 
    We are always looking for volunteers to help us with our projects. 
    If you would like to help us with our projects, please contact us.
<br>Watermelon Pageant
<br>Silent Auction
<br>Charity Ball
<br>Project Santa
<br>Project Safe Kids
<br>Youth Sports
<br>


{% endblock content %}