{% load static %}
{% block content %}
<h1 id='supportHeader' class="name_headers">Ways to Support</h1>


<div class="support-section">
    <p class="support_p">Our service projects are possible only with the community’s support. Your contribution enables us to accomplish Junior Auxiliary of Water Valley’s purpose to enrich the lives of children right here in Yalobusha County.</p>
    
    <div class="support-options">
        <div class="support-option blue-box">
            <h2>Donate to support <strong>ANY</strong> project.</h2>
            <p>Join our Crown Club with a donation that supports every project the Junior Auxiliary of Water Valley leads. Every dollar supports direct services to children and families right here in Yalobusha County.</p>
        </div>
        
        <div class="support-option yellow-box">
            <h2>Share your support for the project(s) that are near to your heart.</h2>
            <p>Let us know which projects you most want to impact. These donations will also get you into the Crown Club.</p>
        </div>
        
        <div class="support-option blue-box">
            <h2>Sponsor an event to support <strong>ALL</strong> projects.</h2>
            <p>Throughout the year, the Junior Auxiliary hosts events to raise additional funds for projects here in Yalobusha County. Select an event to sponsor and how you’d like to be recognized for giving.</p>
        </div>
    </div>
</div>

<div class="line"></div>

{% endblock content %}